---

name: Build and Upload DEBS

on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build-upload-debs:
    runs-on: ubuntu-latest

    env:
      SIGNALWIRE_USER: ${{ secrets.SIGNALWIRE_USER }}
      SIGNALWIRE_PASSWORD: ${{ secrets.SIGNALWIRE_PASSWORD }}

    strategy:
      matrix:
        debian: [bullseye, bookworm]

    container:
      image: debian:${{ matrix.debian }}

    steps:
      - uses: actions/checkout@v4

      - name: Export .env.debian variables to GITHUB_ENV
        run: |
          if [ -f .env.debian ]; then
            grep -v '^#' .env.debian | while IFS='=' read -r key value; do
              # Remove surrounding quotes and trim whitespace
              clean_value=$(echo "$value" | sed -e 's/^"//' -e 's/"$//')
              # Only export non-empty keys
              if [[ -n "$key" ]]; then
                echo "$key=$clean_value" >> $GITHUB_ENV
              fi
            done
          fi

      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y wget gnupg2 lsb-release devscripts build-essential fakeroot lintian dh-make debhelper

      - name: Add Freeswitch repo
        run: |
          wget --http-user=${SIGNALWIRE_USER} --http-password=${SIGNALWIRE_PASSWORD} -O /usr/share/keyrings/signalwire-freeswitch-repo.gpg https://freeswitch.signalwire.com/repo/deb/debian-release/signalwire-freeswitch-repo.gpg
          echo "machine freeswitch.signalwire.com login ${SIGNALWIRE_USER} password ${SIGNALWIRE_PASSWORD}" > /etc/apt/auth.conf
          chmod 600 /etc/apt/auth.conf
          echo "deb [signed-by=/usr/share/keyrings/signalwire-freeswitch-repo.gpg] https://freeswitch.signalwire.com/repo/deb/debian-release/ `lsb_release -sc` main" > /etc/apt/sources.list.d/freeswitch.list
          echo "deb-src [signed-by=/usr/share/keyrings/signalwire-freeswitch-repo.gpg] https://freeswitch.signalwire.com/repo/deb/debian-release/ `lsb_release -sc` main" >> /etc/apt/sources.list.d/freeswitch.list
          apt-get update
          apt-get install -y libfreeswitch-dev

      - name: Prepare Environment for Build DEB package
        run: |
          mkdir -p $WORK_DIR/mod-free-amd
          mkdir -p $WORK_DIR/debian
          cp -r Makefile mod_free_amd.c $WORK_DIR/mod-free-amd/
          cp -r DEB/debian/* $WORK_DIR/debian/
          sed -i "s/_VERSION_/${VERSION}/; s/_RELEASE_/${RELEASE}/" $WORK_DIR/debian/changelog

      - name: Build DEB package
        run: |
          cd $WORK_DIR
          ls -la .
          cat debian/changelog
          dpkg-buildpackage -us -uc -b

      - name: Upload DEBs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.VERSION }}-${{ env.RELEASE }}
          path: ${{ env.WORK_DIR }}/*.deb
